body {
  font-size: 88%;
  font-family: monospace;
  background: #f9f9f9;
  margin: 30px;
}

table {
  border-collapse: collapse;
}

table th {
  border: 1px solid #777;
  background: #ccc;
  padding: 0.5em;
}

table td {
  border: 1px solid #777;
  padding: 0.5em;
  background: #fff;
}

table td.ng {
  color: #e00;
}

table td.ok {
  color: #0d0;
}

